body {
  background-color: #303133;
  font-family: 'Play', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 200px;
  width: 100%;
  height: 100vh;

  @include maxw($exsm) {
    font-size: 16px;
  }
}

.scrollbar-thumb {
  background-color: rgba(242, 78, 61, 0.5) !important;
}

#cursor, #aura {
  position: absolute;
  border-radius: 100%;
  transition: 0.5s;
  user-select: none;
  pointer-events: none;
  z-index: 1000;
}

#cursor {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

#aura {
  width: 46px;
  height: 46px;
  border: 1px solid #fff;
  transform: translate(5px, 5px);
}

.body--active {
  @include maxw($md) {
    overflow: hidden;
  }
}

* {
  -webkit-tap-highlight-color: rgba(222, 222, 222, 0.2);
}

.scroll {
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f9f9fd;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, $red, #000);
  }
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;

  @include maxw($sm) {
    padding: 0 10px;
  }

}

.caps {
  text-transform: uppercase;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.title {
  font-size: 40px;
  font-family: 'Poiret One', sans-serif;
  color: #060000;
  text-transform: uppercase;

  @include maxw($sm) {
    font-size: 25px;
    text-align: center;
  }
}

.red {
  color: $red;
}

.btn {
  background-color: $red;
  padding: 15px;
  text-align: center;
  border-radius: 9px;
  color: #fff;
  position: relative;
  outline: transparent;
  transition: 0.5s background-color, 0.5s color;

  @include maxw($exsm) {
    padding: 10px;
    font-size: 16px;
  }

  &:focus {
    background-color: #fff;
    color: $red;

    &::after {
      transform: translateY(-20px);
      opacity: 0;
    }
  }

  &:hover {
    background-color: #fff;
    color: $red;

    &::after {
      background-color: $red;
    }
  }

  &:active {
    background-color: #000;
  }

  &::after {
    content: '';
    width: calc(100% - 16px);
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 8px;
    bottom: -10px;
    transition: 0.5s background-color, 0.3s opacity, 0.4s transform;
  }
}

.burger {
  width: 40px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  transition: 0.3s;
  position: relative;
  z-index: 20;
  display: none;
  outline: transparent;

  @include maxw($md) {
    display: block;
  }

  &__item,
  &::before,
  &::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: $red;
    position: absolute;
    left: 0;
    transition: 0.5s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &__item {
    top: 50%;
    transform: translateY(-50%);
    transition: 0.6s;
  }

  &--active {
    border-color: transparent;

    & .burger__item {
        opacity: 0;
      }

    &::before {
      transform: translateY(12px) rotate(-45deg) !important;
      opacity: 1;
    }

    &::after {
      transform: translateY(-15px) rotate(405deg) !important;
      opacity: 1;
    }
  }
}

.hide {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.progress-bar {
  max-width: 350px;

  &__top {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 0 3px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &__bottom {
    background-color: $red;
    position: relative;
    height: 8px;
    border-radius: 8px;

    &::after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: calc(100% - 8px);
      height: 2px;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 3px;
      z-index: 1;
    }
  }
}

.circle-bar {
  background: linear-gradient(45deg, #E6E7E8 -7896.5%, #FFFFFF 21161.5%);
  border-radius: 50%;
  display: flex;
  max-width: inherit;
  height: inherit;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;

  &__inner {
    transform: rotate(90deg);
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__percent {
    color: #000;
    position: absolute;
  }
}

.form {
  background-color: #303133;
  padding: 40px 65px;
  display: flex;
  flex-direction: column;
  width: 540px;
  position: relative;

  &::after {
    content: '';
    background-image: url('../images/icons/dots-red(16).svg');
    width: 30px;
    height: 152px;
    background-size: cover;
    position: absolute;
    right: 5px;
    bottom: 5px;

    @include maxw($sm) {
      display: none;
    }
  }

  &::before {
    content: '';
    background-image: url('../images/icons/cube.svg');
    position: absolute;
    width: 120px;
    height: 120px;
    background-size: cover;
    bottom: -32px;
    left: -32px;
  }

  &__svg {
    max-width: 28px;
    width: 100%;
    height: 28px;
    position: absolute;
    top: -10px;
    left: -10px;
    fill: $red;
  }

  &__input {
    outline: transparent;
    background-color: transparent;
    border: none;
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid #fff;
    color: $red;

    &::placeholder {
      color: #fff;
      font-size: 16px;

      @include maxw($exsm) {
        font-size: 14px;
      }
    }

    & + & {
      margin-top: 20px;
    } 
  }

  &__input--textarea {
    height: 100px;
    margin-bottom: 30px;

    @include maxw($exsm) {
      height: 60px;
    }
  }

  &__work {
    display: flex;
    align-items: flex-end;
    cursor: pointer;

    @include maxw($sm) {
      flex-direction: column;
    }

    &:hover {
      color: red;
    }
  }

  &__work-btn {
    padding: 8px;
    margin: 0 0 5px 30px;
    display: block; 

    &--active {
      background-color: #ccc;
      color: #000;
    }

    &::after {
      bottom: -5px;
    }
  }

  &__input--work {
    font-size: 16px;
    color: #fff;
    height: 25px;

    @include maxw($exsm) {
      font-size: 12px;
    }
  }

  &__btn {
    margin: 30px auto 0;
    max-width: 350px;
    width: 100%;
  }
}